<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="_login" value="sit"/>
    <add key="_pass" value="xw{p&amp;&amp;Ee3b9r8?amJv*]"/>
    <add key="db_login" value="login"/>
    <add key="db_pass" value="pass"/>
  </appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="MessageInspectorBehavior" type="Gis.Crypto.MessageInspectorBehaviorElement, Gis" />
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<endpointBehaviors>
				<behavior name="clientCertificateConf">
					<clientCredentials>
						<!-- в блоке findValue указывается серийный ключ сертификата -->
						<!--<clientCertificate findValue="209d08060003000349b1" storeLocation="CurrentUser" x509FindType="FindBySerialNumber" />-->
            <clientCertificate findValue="00c7ea560060c84284e711a9eb0fea2805" storeLocation="CurrentUser" x509FindType="FindBySerialNumber" />
						<serviceCertificate>
							<authentication certificateValidationMode="None" revocationMode="NoCheck" />
						</serviceCertificate>
					</clientCredentials>
					<MessageInspectorBehavior />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:15:00" sendTimeout="00:15:00">
          <textMessageEncoding messageVersion="Soap11">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </textMessageEncoding>
          <httpsTransport authenticationScheme="Basic" useDefaultWebProxy="false" requireClientCertificate="true" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        </binding>
			</customBinding>
		</bindings>
		<client>
      <!--<endpoint address="https://217.107.108.147:10081/ext-bus-org-registry-common-service/services/OrgRegistryCommon" binding="customBinding" behaviorConfiguration="clientCertificateConf"
              contract="Gis.Infrastructure.OrganizationsRegistryCommonService.RegOrgPortsType" name="RegOrgPort" />
      <endpoint address="https://217.107.108.147:10081/ext-bus-bills-service/services/Bills" binding="customBinding" behaviorConfiguration="clientCertificateConf"
                contract="Gis.Infrastructure.BillsService.BillsPortsType" name="BillsPort" />
      <endpoint address="https://217.107.108.147:10081/ext-bus-home-management-service/services/HomeManagement" binding="customBinding" behaviorConfiguration="clientCertificateConf"
                contract="Gis.Infrastructure.HouseManagementService.HouseManagementPortsType" name="HouseManagementPort" />-->
    <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-org-registry-common-service/services/OrgRegistryCommon" binding="customBinding" behaviorConfiguration="clientCertificateConf"
              contract="Gis.Infrastructure.OrganizationsRegistryCommonService.RegOrgPortsType" name="RegOrgPort" />
    <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-bills-service/services/Bills" binding="customBinding" behaviorConfiguration="clientCertificateConf"
              contract="Gis.Infrastructure.BillsService.BillsPortsType" name="BillsPort" />
    <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-home-management-service/services/HomeManagement" binding="customBinding" behaviorConfiguration="clientCertificateConf"
              contract="Gis.Infrastructure.HouseManagementService.HouseManagementPortsType" name="HouseManagementPort" />
		</client>
	</system.serviceModel>
<!--
    <system.net>
    <defaultProxy useDefaultCredentials="true">
      Если проксик не нужен, то можно закомментировать
      <proxy autoDetect="True" bypassonlocal="True" proxyaddress="http://localhost:8888" usesystemdefault="True" />
      Если проксик не нужен, то можно закомментировать
    </defaultProxy>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" expect100Continue="false" />
    </settings>
  </system.net>
-->
</configuration>